.top-row {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.visual {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.text {
  width: 75%;
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
}

.title {
  margin-top: 0px;
  margin-bottom: 15px;
}

.author {
  margin-top: -10px;
  font-size: 13.5px;
  color: #434343;
  margin-bottom: 18px;
}

.name {
  color: #265ed4;
}

.venue {
  font-weight: 500;
  font-size: 13.5px;
  margin-top: -10px;
}

.abstract {
  font-size: 13.5px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.abstract span {
  margin-left: 0.2rem;
}

.tldr {
  display: inline-block;
  font-weight: 600;
  background-color: #ffffff;
  font-size: 13.5px;
  color: #1f1f1f;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #d9d9d9;
}

.bibtex {
  font-family: monospace;
  font-size: 10px;
  white-space: pre-wrap;
}

.skeleton {
  height: 9.375rem;
}

.visual svg {
  max-width: 100%;
}

.visual video,
.visual picture,
.visual img {
  max-width: 100%;
  object-fit: contain;
}

.dates {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--text-subdued);
}

.card {
  display: block;
  width: 400%;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem;
  padding-top: 1.4rem;
  overflow: hidden;
  transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: var(--shadow-none);
  color: var(--text-main);
  font-family: var(--font-family);
  background-color: transparent;
  position: relative;
}

@media (min-width: 320px) {
  .card {
    width: 200%;
  }
  .visual {
    width: 100%;
  }
  .text {
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .card {
    width: 300%;
  }
  .visual {
    width: 33.3%;
  }
  .text {
    width: 66.7%;
    margin-top: auto;
    padding-left: 30px;
  }
}

@media (min-width: 1080px) {
  .card {
    width: 400%;
  }
  .visual {
    width: 25%;
  }
  .text {
    width: 75%;
  }
}

.card:hover {
  box-shadow: var(--shadow-raised);
  background-color: var(--background-raised);
  transform: scale(1.05) translate3d(0, -0.5rem, 0);
}

.card:hover .tldr {
  color: #d46b08;
}

.card:not(:hover) *:not(.details-indicator) svg * {
  fill: var(--text-subdued) !important;
}

.card *:not(.details-indicator) svg * {
  transition: fill 0.1s;
}

.details-indicator {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translate3d(0, 0.5rem, 0);
  transition: opacity 0.2s, transform 0.2s;
  color: var(--text-main);
}

.details-indicator:nth-child(2) {
  right: 4.5rem;
}

.details-indicator:nth-child(3) {
  right: 8.5rem;
}

.details-indicator:nth-child(4) {
  right: 12.5rem;
}

.details-indicator:nth-child(5) {
  right: 16.5rem;
}

.details-indicator:nth-child(6) {
  right: 20.5rem;
}

.details-indicator > :first-child {
  margin-right: 0.2rem;
  font-weight: 600;
}

.card:hover .details-indicator {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}